.faintText {
  color: rgba($color: #000000, $alpha: 0.4);
  font-style: italic;
  font-size: 0.6em;
  float: right;
  right: 0;
}

.adminPanel {
  padding: 1em !important;
}

.searchBtn {
  margin: 2em 0 !important;
}

.addCartIcon {
  cursor: pointer;
}

.addCartIcon:hover {
  color: royalblue;
}
