.detail {
  font-weight: bold;
  color: black;
  padding: 0 1em;
}

.price {
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

.rightDetail {
  margin-left: 10em;
}

.productLabel {
  color: dimgrey !important;
}
.productInput {
  color: black !important;
  padding: 0.6em;
  margin: -2em;
}
